*{
    margin: 0;
    padding: 0;
    font-family: "PlayFair Display";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#back{
    display: flex;
    width: 100%;
    height: 100vh;
}
#left{
    position: relative;
    overflow: hidden;
    width: 70%;
    height: 100%;
    padding: 30px 40px;
    background-color: rgb(77, 150, 139);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
    opacity: .7;
    font-size: 13px;
}

nav a:nth-child(2){
    font-size: 15px;
    opacity: 1;
    border-bottom: 2px solid black;
    margin-top: 6px;
    padding-bottom: 4px;
}

#circle{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-image: url("flab.webp");
    background-size: cover;
    border-radius: 50%;
}

#smcircle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color:rgb(252, 251, 250);
}

#smcircle img{
    position: absolute;
    top: 0%;
    left: -60%;
    width: 500px;
}

#vsmcircle{
    display: flex;
    position: absolute;
    /* transform: translate(0 , -50%); */
    width: 112px;
    height: 112px;
    left: 79%;
    top: 40%;
    right:-5;
    border:5px solid white;
    border-radius: 50%;
    background-size: cover;
    background-image: url(flamingos.png);

}
#vsmcircle i{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: antiquewhite;

}
#cart{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 25px;
    cursor: pointer;
    
}

#right{
    padding: 33px 40px;
    width:30%;
    height:100%;
    background-color: rgb(56, 225, 158);
}